@tailwind base;
@tailwind components;
@tailwind utilities;


.modal-blur {
    filter: blur(4px);
    pointer-events: none;
    user-select: none;
}

.border{
    border-width: 1px;
    border-style: solid;
    border-color: #F5F5F5;
}

.ring-1 {
    box-shadow: none;
}
