@tailwind base;
@tailwind components;
@tailwind utilities;


.modal-blur {
    filter: blur(4px);
    pointer-events: none;
    user-select: none;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    z-index: 40; /* Doit être inférieur à celui de la modale */
    background-color: rgb(92, 125, 169, 0.3); /* Assombrissement */
    backdrop-filter: blur(4px); /* Flou */
    display: none; /* Caché par défaut */
}
.modal-overlay.active {
    display: block; /* Affiché lorsque la modale est ouverte */
}

.border{
    border-width: 1px;
    border-style: solid;
    border-color: #F5F5F5;
}

.ring-1 {
    box-shadow: none;
}

.mce-content-body p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
}
